* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-heading: "Staatliches", sans-serif;
  --font-family-texting: "Poppins", sans-serif;
}

body {
  background-color: #efefef;
}

body::before {
  content: "";
  width: 100%;
  height: 436px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #535971;
}

h1,
h2,
h3,
legend {
  font-family: var(--font-family-heading);
}

body,
p,
input {
  font-family: var(--font-family-texting);
}

.page {
  width: 750px;
  margin: auto;
}

header {
  width: 417px;

  margin-top: 140px;
}

header h1 {
  color: #fff;
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 18px;
}

header p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 58px;
}

form {
  background: #fafafc;
  border-radius: 20px 20px 0 0;
  min-height: 300px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

fieldset legend {
  color: #535971;
  font-size: 24px;
  line-height: 34px;
  width: 100%;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 8px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  color: #4e4958;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}

.input-wrapper label span {
  color: #c1bccc;
  font-size: 12px;
  line-height: 20px;
  margin-left: 12px;
}

.input-wrapper label span:hover {
  color: #6c6a71;
}

.input-wrapper input {
  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background: #fafafc;
  height: 56px;
  padding: 0 24px;
  font-size: 16px;
  color: #6c6a71;
  line-height: 26px;

  width: 100%;
}

.col-2 {
  display: flex;
  gap: 22px;
}

.input-wrapper h2 {
  color: #535971;
  font-size: 20px;
  font-weight: normal;
  line-height: 34px;
}

.input-wrapper select,
input {
  appearance: none;
  -webkit-appearance: none;
}

.col-3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.col-3 > div:nth-child(1) {
  width: 100%;
  margin-right: 22px;
}

footer {
  background: #535971;

  height: 160px;

  display: flex;
  flex-direction: column;

  padding: 52px 70px;

  margin-bottom: 100px;

  border-top: 1px solid #535971;
  border-radius: 0 0 20px 20px;
}

footer button {
  height: 56px;
  background: #ff5374;
  border: 0;
  border-radius: 20px;
  font-family: var(--font-family-heading);
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;

  color: #ffffff;
}

footer button:hover {
  background: #a03349;
  cursor: pointer;
}

input:invalid {
  border: 1px solid #ff1010;
}
